.Main{
    border: 10px solid #4e54c8;
    width: 100%;
    height: 100vh;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-evenly;
   
}


.radios{
    border: 10px solid #831010;
    border-radius: 15px;
    color:black;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 10%;
    background-color: white;
}
