
.tooltip_container{
    display: inline-block;
    position: relative;
    border: 10px blueviolet solid;
        background-color: blueviolet;
    border-radius: 10px;
    color: white;
    
   
}

.tooltip_container:hover .tooltiptext{
    visibility: visible;

}
.tooltiptext{
    position: absolute;
    visibility: hidden;
    background-color: black;
    color: white;
    width: 120px;
    height: fit-content;
    border-radius:10px;
    z-index: 1;
    text-align: center;
    

    

    
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }